@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbf6f3;
}

.container {
  max-width: 100%;
  width: 600px;

  margin: 0 auto;

  font-family: "Merriweather";
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy";
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

img#lucky-image {
  display: none;
}

img#unlucky-image {
  display: none;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

label {
  margin-bottom: 1rem;
  font-weight: 700;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #bf3880;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #98042d;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background: #e983d8;
  color: black;
}

p#message {
  margin-top: 1rem;
}

img {
  margin: auto;
  width: 60%;
  height: 8rem;
}
.note {
  color: #67595e;
  border: 2px solid #a49393;
  padding: 2px;
  font-size: 16px;
}
/*footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background-color: cornflowerblue;
}
li {
  list-style-type: none;
  margin-left: 0.5rem;
}

ul {
  display: flex;
}

footer a {
  color: black;
  font-size: 1.5rem;
  padding: 0 0.7rem;
}
