@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather";
  background-color: #1dc690;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Merriweather";
  font-size: 1rem;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy";
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

img#lucky-image {
  display: none;
}

img#unlucky-image {
  display: none;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

label {
  margin-bottom: 1rem;
  font-weight: 700;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #bf3880;
  border-radius: 10px;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #98042d;
  color: #fff;
  border-radius: 10px;
}

button:hover {
  background: #e983d8;
  color: black;
}

p#message {
  margin-top: 1rem;
}

img {
  margin: auto;
  width: 60%;
  height: 8rem;
}
.note {
  color: black;
  font-weight: 700;
  border: 2px solid #a49393;
  padding: 2px;
  font-size: 16px;
}
/*footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  padding: 0.5rem;
  background-color: #0e86d4;
  width: 100vw;
}

li {
  list-style-type: none;
  padding-left: 0.5rem;
}

ul {
  display: flex;
}

footer a {
  color: black;
  font-size: 1.5rem;
  padding: 0 0.7rem;
}

.footer-heading {
  line-height: 50%;
  font-weight: 700;
  padding: 5px;
  color: black;
}
footer a:hover {
  color: #f54d3d;
}
